<div class="container">
    <form #formularioCurso="ngForm" (ngSubmit)="onSubmit(formularioCurso)" class="form-horizontal">
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nome" class="control-label">Nome</label>
                <input type="text" name="nome" class="form-control" id="nomeCurso" required #nomeCurso="ngModel" [(ngModel)]="curso.nome">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="descricao">Descrição</label>
                <input type="text" name="descricao" class="form-control" id="descricao" required #descricao="ngModel"
                    [(ngModel)]="curso.descricao">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="periodo">Período</label>
                <input type="text" name="periodo" class="form-control" id="periodo" required #periodoCurso="ngModel"
                    [(ngModel)]="curso.periodo">
            </div>
        </div>

        <button type="submit" class="btn btn-dark">Submeter </button>

    </form>
  
  <table class="table">
        <thead>
            <tr>
                <th>Nome:</th>
                <th>Descrição:</th>
                <th>Período:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mostrar of getCursos()">
                <td >{{mostrar.nomeCurso}}</td>
                <td >{{mostrar.descricao}}</td>
                <td >{{mostrar.periodo}}</td>
            </tr>
        </tbody>
    </table>
</div>
